
requests
pandas>=0.24.1
platformdirs
pyarrow
pyshp

shapely
contextily
geopandas

setuptools
setuptools_scm

pytest>=3.6
pytest-cov
codacy-coverage
coverage
codecov
pytest-benchmark
black

sphinx
nbsphinx
sphinx_rtd_theme